The debate you selected is:
<form>
    Debate name:
    <input type="text" ng-model="debateDetails.debate.name" /> Description:
    <input type="text" ng-model="debateDetails.debate.description" /> Public Party?
    <input type="checkbox" ng-model="debateDetails.debate.public">
    <button ng-click="debateDetails.save()">Save</button>
</form>
<button ui-sref="debates">Back</button>

<ul>
    Users to invite:
    <li ng-repeat="user in debateDetails.users | uninvited:debateDetails.party">
        <div>{{ user | displayName }}</div>
        <button ng-click="debateDetails.invite(user)">Invite</button>

    </li>
    Users:
    <li ng-repeat="user in debateDetails.users">
        <div>{{ user.emails[0].address }}</div>
    </li>
</ul>